{{ define "main" }}
    <div
        class="archive {{ with .Site.Params.doNotLoadAnimations }}
        .
        {{ else }}
            animated fadeInDown
        {{ end }}"
    >
    <table style="width: 100%; border-collapse: collapse;">
        {{ range .Data.Pages.GroupByDate "2006" }}
            {{ range .Pages }}
            <tr>
                <td style="vertical-align: top; padding: 15px 15px 15px 0;">
                    <a class="archive__list-title" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                    <div style="margin-top: 10px;">
                        {{ .Summary }}
                    </div>
                </td>
                <td style="vertical-align: top; padding: 15px 0;">
                    {{ with .Params.thumbnail }}
                    <a href="{{ $.RelPermalink }}">
                        <img src="{{ . }}" style="max-height: 150px;" alt="{{ $.Title }} screenshot"/>
                    </a>
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        {{ end }}
    </table>
    </div>
{{ end }}
