{{ define "main" }}
    <div
        class="archive {{ with .Site.Params.doNotLoadAnimations }}
        .
        {{ else }}
            animated fadeInDown
        {{ end }}"
    >
    {{ range .Data.Pages.GroupByPublishDate "January 2006" }}
        <h1>{{ .Key }}</h1>
        {{ range .Pages }}
            <ul class="archive__list">
            <li class="archive__list-item">
                <div style="display:inline-block; vertical-align: top">
                <div>
                    <a class="archive__list-title" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a> <span class="archive__list-date">{{ .Date | time.Format ":date_medium" }}</span>
                
                </div>
                <div>
                    {{ .Summary }}
                </div>
            </div>
            <div style="display:inline-block; vertical-align: top; padding-left: 50px">
                    <img src="{{ .Params.thumbnail }}"  height="100"/>
            </div>
            </li>
            </ul>
        {{ end }}

    {{ end }}
  </div>
{{ end }}
