<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The resume and portfolio site for Jason Motylinski"/>
    <link rel="canonical" href="http://jason.motylinski.com"/>
    <title>Jason Motylinski</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="assets/css/global.css" rel="stylesheet">
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" sizes="129x129" href="">  
  </head>
  <body>
        {{ content }}
  </body>
</html>